:root {
  /* 서비스 프라이머리 컬러 */
  --primary-100: #e3a4ef;
  --primary-300: #b473ec;
  --primary: #864af9;

  /* --primary-100: #d1fadb;
    --primary-300: #8ee6b0;
    --primary: #33b97a; */

  /* 성공 색상 */
  --success: #22c55e;

  /* 경고 색상 */
  --warning: #facc15;

  /* 오류 색상 */
  --error: #ef4444;

  /* 정보 색상 */
  --info: #3b82f6;

  /* 텍스트 및 중립 색상*/
  --text: #000000;
  --text-secondary: #666666;
  --background-light: #ffffff;
  --background-dark: #121212;
  --divider: #e0e0e0;
  --cardbg: #f7f5f4;
}
