.payment-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px 20px;
  font-size: 15px;
  background-color: #fff;
}

.payment-methods {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  justify-content: center; /* 중앙 정렬 */
}

.payment-methods img {
  width: 80px;
  height: 30px;
  object-fit: contain;
}

.refund-info {
  margin-top: 40px;
}

.refund-deadline {
  font-weight: bold;
  margin-bottom: 12px;
}

.refund-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  margin-top: 10px;
}

.refund-table th,
.refund-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.agreements {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 14px;
}

.agreements input[type="checkbox"] {
  accent-color: var(--primary);
}

.next-button {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 8px;
  align-self: center;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition:
    background 0.2s,
    background-color 0.2s;
}

.next-button:hover {
  background-color: var(--primary-300);
}

.payment-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.payment-buttons button {
  font-size: 18px;
  padding: 15px 0;
  width: 180px;
  background-color: var(--card-bg, #f5f7fa);
  color: var(--black, #000);
  border: 2px solid var(--devider, #e0e0e0);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  box-sizing: border-box;
}

.payment-buttons button.selected.kakaopay {
  background-color: #ffcd00;
  color: #000;
  border: none;
}

.payment-buttons button.selected.cardpay {
  background-color: #87ceeb;
  color: #000;
  border: none;
}

.payment-buttons button.selected {
  font-weight: bold;
}

.payment-buttons button:hover {
  background-color: #f9f9f9;
  border-color: #888;
}

.confirm-pay-button {
  display: block;
  margin: 40px auto 0;
  padding: 16px 50px;
  font-size: 20px;
  font-weight: bold;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.confirm-pay-button:disabled {
  background-color: var(--devider);
  color: #000;
  cursor: not-allowed;
}
