.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.seat-block {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.seat-row {
  display: flex;
  gap: 2px;
}

.seat {
  width: 10px;
  height: 10px;
  background-color: var(--cardbg);
  border: 1px solid #ffffff;
  cursor: pointer;
  padding: 0;
  font-size: 8px;
  color: #333;
}

.seat.selected {
  background-color: var(--primary);
}

.seat.booked {
  background-color: var(--divider);
  cursor: not-allowed;
}

.seat.hold {
  background-color: #677273;
  cursor: not-allowed;
}

.seat.empty {
  background-color: transparent;
  border: 1px dashed #ccc;
  cursor: not-allowed; /* 마우스 커서 변경을 비활성화 */
}

.seat.booked:hover,
.seat.hold:hover {
  background-color: inherit; /* 색상 유지 */
  cursor: not-allowed; /* 클릭 불가 표시 */
}

.seat.empty:hover {
  background-color: transparent; /* hover 상태에서 스타일 변경 안되도록 */
}
