.sequence-select {
  flex: 0 0 100%;
  padding: 12px 6px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  /* flex-wrap: wrap; */
  overflow-x: unset; /* 스크롤 제거 */
}

.step {
  padding: 6px;
  text-align: center;
  font-size: 15px;
  flex: 1 1 0;
  background-color: #ddd;
  border-radius: 8px;
  margin-bottom: 0;
  margin-right: 6px;
  min-width: 0;
  white-space: nowrap;
}

.step:last-child {
  margin-right: 0;
}

.step.active {
  background-color: var(--primary);
  color: #fff;
  border-radius: 8px;
}
