@import "../../styles/colors.module.css";

.mypageContainer {
  background: var(--gray-100, #f4f4f6);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}
.mypageContent {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px 40px 16px;
  gap: 40px;
  max-width: 540px;
}
.main {
  flex: 1;
  font-family: "Noto Sans KR", "sans-serif";
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 28px;
  font-weight: bold;
  color: var(--primary);
  margin-bottom: 32px;
}
.infoCard {
  background: #fff;
  border: 1.5px solid var(--divider);
  border-radius: 16px;
  padding: 36px 32px 32px 32px;
  font-size: 18px;
  flex-grow: 1;
  box-shadow: 0 2px 12px rgba(102, 51, 255, 0.06);
  margin-bottom: 32px;
}
.infoLabel {
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--text);
  font-size: 18px;
}
.infoValue {
  margin-bottom: 22px;
  color: var(--text);
  font-size: 18px;
}

.editProfileBtn {
  display: block;
  width: 100%;
  margin-top: 24px;
  height: 44px;
  padding: 10px 24px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background: var(--primary);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
  box-shadow: 0 2px 8px rgba(102, 51, 255, 0.04);
}

.editProfileBtn:hover,
.editProfileBtn:focus {
  background: var(--primary-300) !important;
  color: var(--primary) !important;
  border: none;
  outline: none;
  box-shadow: none;
}

.editProfileBtn:active {
  filter: brightness(0.92);
}
